#container {
    padding: 10px;
    color: white;
    border: 1px solid black;
}

.bar {
    width: 100px;
    background-color: rgb(159, 42, 226);
    transition-property: width;
    transition-duration: 0.5s;
    margin-bottom: 10px;
    padding: 2px 4px;
    text-align: right;
}
#container:hover .bar {
    width: 500px;
}
/* transition-timing-funtion 속성 */
.bar:nth-child(1) {
    transition-timing-function: linear;
}
.bar:nth-child(2) {
    transition-timing-function: ease;
}
.bar:nth-child(3) {
    transition-timing-function: ease-in;
}
.bar:nth-child(4) {
    transition-timing-function: ease-out;
}
.bar:nth-child(5) {
    transition-timing-function: ease-in-out;
}
.bar:nth-child(6) {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

