@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Pen+Script&display=swap');

* {
font-family: 'Jua', sans-serif;
font-size: 20px;
}
.warning{
    font-size: 5px;
    color: rgba(255, 0, 0, 0.438);
}
#container {
    width: 290px;
    height: 260px;
    background-color: rgba(11, 139, 224, 0.226);
    border-radius: 3px
}
button {
    background-color: thistle;
    color: rgb(172, 55, 55);
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.219) 2px 3px 2px;
}
input::placeholder{
    text-align: center;
    color:tan
}
#requestBt {
    width: 275px;
}
.warning {

}