@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Jua&family=Nanum+Pen+Script&family=Noto+Serif+KR:wght@200;300;400;700;900&display=swap');
* {
    border: 0.5px solid rgb(194, 194, 194);
    font-family: 'Gowun Batang', serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    padding-top: 160px;
}
/* view 사이즈 취소 */
.container{
    height: 100vh;
    width: 100vw;
    color: thistle;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
}
#brand_bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_bar {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    border: none;
}
#login {
    border: none;
    border-bottom: 1px solid aliceblue;
    margin-right: 15px;
}
#signIn {
    border: none;
    border-bottom: 1px solid aliceblue;
}
#logo{
    border: none;
    width: 20vw;
    height: 15vh;
}
#brand_name {
    display: flex;
    align-items: center;
    border: none;
    font-size: 2em;
}
#menu_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tap:hover {
    background-color: aliceblue;
    color:black
}
.tap {
    width: 20vw;
    color: aliceblue;
}
.main_board {
    height: 35vh;
}
.terms {
    font-size: 0.5em;
    display: flex;
    border: none;
}
footer{
    color: slategray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main_board:nth-child(1) {
    background-image: url(/images/section2.PNG);
    /* background-position: center; */
    background-size: cover;
}
.main_board:nth-child(2) {
    background-image: url(/images/section1.png);
    background-position: center;
    background-size: cover;
}
.main_board:nth-child(3) {
    background-image: url(/images/cafeOutlook.png);
    background-position: center;
    background-size: cover;
    color: grey;
    font-size: 2em;
    text-align: left;
    text-shadow: 2px 2px 3px rgb(128, 128, 128);

}
