@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

*{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
}
.grid-container {
    display: grid;
    height: 100vh;
    row-gap: 5px;
    column-gap: 5px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: 1fr 3fr 1fr;
}
.grid-item {
    color: rgb(255, 217, 222);
    background-color: rgb(92, 17, 79);
}
.grid-item:nth-child(2n) {
    background-color: rgb(255, 217, 222);
    color: rgb(92, 17, 79);
}