@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

*{
    font-family: 'Nanum Pen Script', cursive;
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
}
#container{
    height: 100vh;
    background-image: url(/images/art_16596631118393_82006a.png);
    background-size : cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
#name{
    text-align: center;
    text-shadow: 3px 3px 5px saddlebrown;
    font-size: 100px;
}
#menubar{
    margin: 10px;
    align-items: center;
    border: 2px solid rgb(126, 40, 0);
}
#intro {
    margin: 10px;
    border: 2px solid rgb(126, 40, 0);
}
#howmuch {
background-color: rgba(243, 106, 26, 0.589);
}