/* 
<< CSS 선택자 >>
CSS 문법은 크게 선택자와 선언부로 구성이 됩니다. 
그 중 선택자는 CSS를 적용할 태그(요소)를 지정하는 문법적인 영역이며 CSS는 선택자를 지정하는 다양한 방법을 제공 합니다.
- 전체 선택자 : 모든 요소를 한번에 선택자로 지정하는 방법
- 태그 선택자 : 태그명으로 선택자를 지정하는 방법
- 클래스 선택자 : .클래스명{스타일 규칙}  큰 따옴표 안에 여러개 클래스 지정 가능
- 아이디 선택자 : id 속성값을 이용해 선택자를 지정하는 방법. 속성값 앞에 # 기호를 붙인다.
클래스 선택자는 문서에서 여러번 적용할 수 있지만 id선택자는 문서에서 한 번만 적용된다.
*/

* {
    color: rgb(145, 34, 34);
}
/* 태그 선택자 */
div {
    width: 200px;
    height: 200px;
    background-color: pink;
    color: aliceblue;
}
p {
    font-style: italic;
}
/* 클래스 선택자 */
.accent {
    border: 1px solid #000;
    padding: 5px;
}
.bg {
    background-color: rgb(16, 82, 145);
}
/* 아이디 선택자 */
#container {
    width: 500px;
    margin: 10px auto;
    padding: 10px;
    border: 1px;
}