@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Jua&family=Nanum+Pen+Script&family=Roboto&display=swap');
#container {
    margin: 50px auto;
    width: 300px;
    height: 300px;
    border-radius: 50%; /* 완전 원! */
    border: 2px dotted #222;
    background-color: thistle;
    text-align: center;
    font-family: 'Jua', sans-serif;
}
h1 {
    margin-top: 80px;
}
.accent {
    font-size: 1.8em;  /* 16px의 1.8배 */
    font-weight: bold;
    color: mediumvioletred;
}